README.md
TODO.md

{{- if ne .chezmoi.os "windows" }}
Documents/*
.config/winfetch
{{- end }}

{{- if eq .chezmoi.os "windows" }}
# ignore these on windows
.config/nvim
.config/fish
{{- end }}
