{{ if eq .chezmoi.os "linux" -}}

#!/bin/sh

set -eufo pipefail

skills add obra/superpowers --global --yes -a codex -a claude-code --skill 'systematic-debugging'
skills add obra/superpowers --global --yes -a codex -a claude-code --skill 'brainstorming'


{{ end -}}
