[alias]
	ph = "log --graph --pretty=pretty-history --abbrev-commit --date=relative"
	s = "status --short"

[color]
	ui = "auto"

[commit]
	status = false
	template = "~/.config/git/message"

[core]
	editor = "nvim"
	excludesfile = "~/.config/git/ignore"
	filemode = false
	untrackedCache = true
	autocrlf = false

[diff]
	colorMoved = "default"

[help]
	autocorrect = 1

[init]
	defaultBranch = "development"

[interactive]
	diffFilter = "delta --color-only"

[merge]
	conflictstyle = "diff3"
	log = true

[pretty]
	pretty-history = "format:%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset"

[push]
	default = "current"

[status]
	displayCommentPrefix = true
	short = true
	showUntrackedFiles = "all"

[user]
	name = {{ .name | quote }}
	email = {{ .email | quote }}

[web]
{{- if eq .chezmoi.os "darwin" }}
	browser = "safari"
{{- else if eq .chezmoi.os "linux" }}
	browser = "chrome"
{{- else }}
	browser = "edge"
{{- end }}