#!/usr/bin/env bash

{{- if (and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "fedora")) }}

set -euo pipefail

packages=(
    perl-FindBin
    libuuid-devel
    readline-devel
    autoconf ncurses-devel
    gcc-c++
    jemalloc-devel
    fuse fuse-libs
    figlet
)

extra_packages=(
    geos
    geos-devel
    proj
    proj-devel
    gdal
    gdal-devel
    protobuf-c
    protobuf-c-devel
    json-c
    json-c-devel
    libxml2-devel
)

sudo dnf install -y "${packages[@]}" @development-tools "${extra_packages[@]}"
{{- end }}
