{{ if eq .chezmoi.os "linux" -}}
    #!/bin/sh
    echo "Running wsl.sh.tmpl"

    set -euf pipefail

    #curl -fsSL https://get.pnpm.io/install.sh | sh -
    #curl -sS https://starship.rs/install.sh | sh
    #curl -sL https://raw.githubusercontent.com/jorgebucaran/fisher/main/functions/fisher.fish | source && fisher install jorgebucaran/fisher

    # Missing:
    # pfetch, tealdeer

    {{ $packages := list
      "bat"
      "cloc"
      "exa"
      "fish"
      "fortune"
      "httpie"
      "neovim"
      "peco"
      "ripgrep"
      "jq"
      "php" 
      "rust-all"
      "gnome-builder"
      "htop"
      "nmap"
      "nikto"
      "vlc" -}}

    {{ $applications := list
        "com.discordapp.Discord"
        "com.github.IsmaelMartinez.teams_for_linux"
        "com.github.buddhi1980.mandelbulber2"
        "com.github.carlos157oliveira.Calculus"
        "com.github.johnfactotum.Foliate"
        "com.github.reds.LogisimEvolution"
        "com.jetbrains.DataGrip"
        "com.kavilgroup.gelectrical"
        "com.ktechpit.torrhunt"
        "com.mattjakeman.ExtensionManager"
        "com.mongodb.Compass"
        "com.redis.RedisInsight"
        "com.rtosta.zapzap"
        "com.slack.Slack"
        "com.sweethome3d.Sweethome3d"
        "com.valvesoftware.Steam"
        "io.gdevelop.ide"
        "io.gitlab.gregorni.Letterpress"
        "net.agalwood.Motrix"
        "org.audacityteam.Audacity"
        "org.duckstation.DuckStation"
        "org.freecadweb.FreeCAD"
        "org.ghidra_sre.Ghidra"
        "org.gimp.GIMP"
        "org.gnome.Cheese"
        "org.gnome.Evince"
        "org.gtk.Gtk3theme.Pop-dark"
        "org.inkscape.Inkscape"
        "org.kde.kdenlive"
        "org.nickvision.money"
        "org.nmap.Zenmap"
        "org.openscad.OpenSCAD"
        "org.stellarium.Stellarium"
        "org.telegram.desktop"
        "org.telegram.desktop.webview"
        "org.videolan.VLC"
        "org.wireshark.Wireshark"
        "org.zaproxy.ZAP"
        "rest.insomnia.Insomnia"
        "se.sjoerd.Graphs" -}}

    sudo apt install -y {{ range ($packages | sortAlpha | uniq) -}}{{ . }} {{ end -}}
    {{ " " }}
    flatpak install --noninteractive {{ range ($applications | sortAlpha | uniq) -}}{{ . }} {{ end -}}

{{ end -}}

