{{ if eq .chezmoi.os "linux" -}}
    #!/bin/sh
    echo "Running wsl.sh.tmpl"

    set -euf pipefail

    #curl -fsSL https://get.pnpm.io/install.sh | sh -
    #curl -sS https://starship.rs/install.sh | sh
    #curl -sL https://raw.githubusercontent.com/jorgebucaran/fisher/main/functions/fisher.fish | source && fisher install jorgebucaran/fisher

    # Missing:
    # pfetch, tealdeer

    {{ $packages := list
      "bat"
      "cloc"
      "exa"
      "fish"
      "fortune"
      "httpie"
      "neovim"
      "peco"
      "ripgrep"
      "jq"
      "php" 
      "rust-all"
      "gnome-builder" -}}

    {{ $applications := list
      "com.mattjakeman.ExtensionManager"
      "org.librecad.librecad"
      "org.freecadweb.FreeCAD"
      "io.github.dubstar_04.design"
      "org.kicad.KiCad"
      "org.gustavoperedo.FontDownloader" -}}

    sudo apt install -y {{ range ($packages | sortAlpha | uniq) -}}{{ . }} {{ end -}}
    {{ " " }}
    flatpak install --noninteractive {{ range ($applications | sortAlpha | uniq) -}}{{ . }} {{ end -}}

{{ end -}}

